body {
    margin:0;
     font-family: Arial, sans-serif;
     background: linear-gradient(135deg, #1f4037, #99f2c8);
     color: white;
     display: flex;
     justify-content: center;
     align-items:center;
     align-item: center;
     height: 100vh;
}  

.game-container{
    text-align: center;
    background: rgba(0,0,0,0.3);
    padding: 30px;
    border-radius: 10px;
    width: 320px;
    box-shadow: 0 10px rgba(0,0,0,0.4);
}

h1{
    margin-bottom: 10px;
}

.scoreboard{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

.arena{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.choice-display{
  font-size: 50px;
  width: 80px;
  height: 80px;
  background: rgba(255,255,255,0.2);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.vs{
    font-weight: bold;
}

.button{
    font-size: 30px;
    margin: 10px;
    padding:10px 15px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.25;
}

.buttons button:hover{
    transform:scale(1.2);
}

#reset{
    margin-top: 15px;
    padding: 8px 15px;
    border: none;
    border-radius:10px;
    background: #ff4b5c;
    color: white;
    cursor: pointer;
}